.button {
    background: rgb(112, 112, 116) !important;
    width:5cm;
    touch-action: auto !important;
    margin-top: 10cm !important;
    color: white !important;
    text-shadow: 10cm !important;
    border-radius: 25% !important;
    font-size: 1.5rem !important;
    height: 3cm;
    
    margin-left: 3cm !important;
}


#special {
    background: black !important ;
}
#special2{
    background: black !important;
    margin-top: 15% !important ;
}